{% extends 'Testing/TestHome.html' %}

{% load static %}

{% block custom_css %}
   <link rel="stylesheet" href="{% static 'css/activities.css' %}" >
{% endblock custom_css %}

{% block tiles %}

<div class="container-fluid">
    <ul class="nav nav-stacked">
        <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="container">
                <a href="#" class="nav-link active">
                    <span>Performance Testing</span>
                    <p>{performance items}</p>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    </br>
                    <img src="{% static 'images/fun.png' %}" class="img-fluid tile "} alt="performance testing">
                    </div>
                </a>
            </div>  
        </li>
         <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2 bg-secondary border">
            <div class="container">
                <a href="#" class="nav-link active">
                    <h2 class="text-white">Functional Testing</h2>
                    <span class="text-dark">  feature_items:
                       <ul >
                           <li>Deploy</li>
                           <li>Runtime</li>
                           <li>MonitorUI</li>
                           <li>Debugger</li>
                       </ul>
                    </span>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      </br>
                    </div>
                </a>
            </div>  
        </li>
        <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="#" class="nav-link active">
             <img src="{% static 'images/perf.png' %}" class="img-fluid tile "} alt="functional testing">
            


            </a>
        </li class="nav-item">
        <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="#" class="nav-link active">
             <img src="{% static 'images/perf.png' %}" class="img-fluid tile "} alt="functional testing">
            


            </a>
        </li class="nav-item">
    </ul>

    
</div>

{% endblock tiles %}