{% extends 'Testing/TestHome.html' %}

{% load static %}

{% block custom_css %}
   <link rel="stylesheet" href="{% static 'css/activities.css' %}" >
{% endblock custom_css %}

{% block tiles %}

<div class="container-fluid">
    <ul class="nav nav-stacked">
        <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2 bg-secondary border tile">
            <div class="container">
                <a href="functional/" class="nav-link active">
                    <h2 class="text-white">Functional Testing</h2>
                    <span class="text-dark">  feature_items:
                       <ul >
                           <li>Deploy</li>
                           <li>Runtime</li>
                           <li>MonitorUI</li>
                           <li>Debugger</li>
                       </ul>
                    </span>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      </br>
                    </div>
                </a>
            </div>  
        </li>
        <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2 bg-secondary border tile">
            <div class="container">
                <a href="#" class="nav-link active">
                    <h2 class="text-white">API Automation</h2>
                    <span class="text-dark"> 
                          API test on INT1
                    </span>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      </br>
                    </div>
                </a>
            </div>  
        </li>
        <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2 bg-secondary border tile">
            <div class="container">
                <a href="UiAuto/" class="nav-link active">
                    <h2 class="text-white">Web UI Automation</h2>
                    <span class="text-dark">  feature_items:
                       <ul >
                           <li>Deploy</li>
                           <li>Runtime</li>
                           <li>MonitorUI</li>
                           <li>Debugger</li>
                       </ul>
                    </span>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      </br>
                    </div>
                </a>
            </div>  
        </li>
        <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2 bg-secondary border tile">
            <div class="container">
                <a href="#" class="nav-link active">
                    <h2 class="text-white">Performance Testing</h2>
                    <span class="text-dark">  Scenarios:
                       <ul >
                           <li>Only PE(Start->End)</li>
                           <li>Mock Service</li>
                           <li>DME Services</li>
                       </ul>
                    </span>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      </br>
                    </div>
                </a>
            </div>  
        </li>
    </ul>

    
</div>

{% endblock tiles %}