<!doctype html>
<html lang="en">
  <head>
    {% load static %}

    <title> 
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <style>
        html,
        body {
    
          height: 100%;
          background-color: black;
          margin: 0;
          padding: 0;
        }
    
        .nav-item{
          margin: 3%;
          padding: 3%;
        }
    </style>
  </head>


  <body>
     {{hello}}
     <div class="row" style="height:100%">
       <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <ul class="nav flex-column bg-secondary" >
          <li class="nav-item  bg-dark">
            <a class="nav-link text-muted" href="#">Runtime</a>
            </br>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="#">MonitorUI</a>
            </br>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Debugger</a>
            </br>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Deployment</a>
            </br>
          </li>
        </ul>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 bg-dark">
        <div>
          <ul>
            <li>

            </li>
          
          </ul>
        </div>
      </div>
     </div>
      
      


    <script src="{% static 'js/jquery.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>

  </body>


</html>