<!doctype html>
<html lang="en">
  <head>
    {% load static %}

    <title> 
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}" type="text/css">

    <style>
        html,
        body {
    
          height: 100%;
          background-color: black;
          margin: 0;
          padding: 0;
        }
    
        .nav-item{
          margin: 3%;
          padding: 3%;
        }
    </style>
  </head>


  <body>
     {{hi}}
    <div class="row" style="height:100%">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <ul class="nav flex-column bg-secondary" >
            <li class="nav-item">
              <a class="nav-link text-primary" href="#">Dashboard</a>
              </br>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#">Scenarios</a>
              </br>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#">Configuration</a>
              </br>
            </li>
          </ul>
        </div>

       <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 bg-dark">
            <div id="accordion">

              {% for sce in Scenarios %}
              
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse{{ forloop.counter }}">
                      Scenario {{ forloop.counter }} </br>
                      <small>{{ sce.desc|truncatewords:"50"}}</small>
                    </a>

                    {% if sce.isAutomated %}
                      <div class="float-right">
                          <div class="form-check form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Include 
                            </label>
                          </div>
                          <a name="" id="" class="btn btn-primary" href="#" role="button">
                            <span> Run</span>
                          </a>
                          </br>
                      </div>  
                      </div>
                    {% else %}
                       <div class="float-right">
                            <label class="form-check-label">
                              Not automated this yet!
                            </label>
                       </div>
                    {% endif %}

                    

                  <div id="collapse{{ forloop.counter }}" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p>
                      <mark>Steps:</mark></br>
                        {{ sce.steps|linebreaksbr }}
                      </p>
                    </div>
                  </div>
                </div>

              {% endfor %}

              
         </div>
      </div>
    </div>
      <div class="card-footer text-muted">
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
              Automation Execution
            </a>
          </div>
        </div>
      </div>

    
    <script src="{% static 'js/jquery.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
  </body>


</html>